<div class="panel-heading">商品カテゴリー</div>
<div class="panel-body">
  <ul class="list-unstyled">
  <% object.each do |category| %>
    <li>
    <% unless category.leaf? %>
      <a><%= category.name %></a>
      <ul class="children" style="margin-left:10px">
      <% category.children.each do |child| %>
        <li>
          <%= link_to potepan_category_path(child.id) do %>
            <%= child.name %><span><%= "(#{child.products.count})" %></span>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% else %>
      <%= link_to potepan_category_path(category.id) do %>
        <%= category.name %><span><%= "(#{category.products.count})" %></span>
      <% end %>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>
