<div class="col-sm-4 col-xs-12">
  <div class="productBox">
    <%= render 'potepan/shared/product/product_image',   product: variant %>
    <%= render 'potepan/shared/product/product_caption', product: variant.product %>
  </div>
</div>
