<div class="col-xs-6">
  <%= form_tag(request.path, method: :get, enforce_utf8: false) do %>
    <%= select_tag :sort, options_for_select([
      ["新着順", 'dateDESC'],
      ["安い順", 'priceASC'],
      ["高い順", 'priceDESC'],
      ["古い順", 'dateASC']],
      selected: params[:sort] || 'dateDESC' ),
      { class: "select-drop", onchange: "this.form.submit()"} %>
    <%= hidden_field_tag(:color, params[:color]) unless params[:color].nil? %>
    <%= hidden_field_tag(:size,  params[:size])  unless params[:size].nil? %>
  <% end %>
</div>
