<div class="panel panel-default">
  <%= render 'potepan/shared/sidebar/search_by_category_sidebar', object: @taxonomy %>
</div>
<div class="panel panel-default priceRange">
  <%= render 'potepan/shared/sidebar/search_by_price_sidebar' %>
</div>
<div class="panel panel-default filterNormal">
  <%= render 'potepan/shared/sidebar/search_by_color_sidebar', options: @options %>
</div>
<div class="panel panel-default filterNormal">
  <%= render 'potepan/shared/sidebar/search_by_size_sidebar', options: @options %>
</div>
