<button type="button" class="btn btn-default active"
        onclick="window.location.href='<%= request.url %>'">
  <i class="fa fa-th" aria-hidden="true"></i>
  <span>Grid</span>
</button>
<button type="button" class="btn btn-default"
        onclick="window.location.href='<%= request.url %>'">
  <i class="fa fa-th-list" aria-hidden="true"></i>
  <span>List</span>
</button>
