<% provide(:title, @taxon.name) %>
<%= render 'layouts/light_section', label: @taxon.name %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'potepan/shared/search_sidebar' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <%= render 'potepan/shared/product_sorting_dropdown_list' %>
          <div class="col-xs-6">
            <div class="btn-group pull-right" role="group">
              <%= render 'potepan/shared/switch_layout_button' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="productListSingle">
            <%= render partial:'potepan/shared/product_grid_layout', collection: @products, as: :variant %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="lightSection clearfix">
  <%= render 'layouts/partners_slider' %>
</section>
<%= render 'potepan/shared/quick_view_modal' %>
