<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="productBox">
    <%= render 'potepan/shared/product/product_image', product: product %>
    <%= render 'potepan/shared/product/product_caption', product: product %>
  </div>
</div>
