<div class="media-left productSlider">
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% if @product.images.any? %>
        <% @product.images.each_with_index do |img, index| %>
            <div class="item <%= 'active' if index == 0 %>" data-thumb="<%= index %>">
              <%= image_tag(img.attachment.url) %>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="clearfix">
    <div id="thumbcarousel" class="carousel slide" data-interval="false">
      <div class="carousel-inner">
        <% if @product.images.any? %>
          <% @product.images.each_with_index do |img, index| %>
            <div data-target="#carousel" data-slide-to="<%= index %>" class="thumb">
              <%= image_tag(img.attachment.url) %>
            </div>
          <% end %>
        <% end %>
      </div>
      <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
