<% provide(:title, @product.name) %>
<%= render 'layouts/light_section', label: @product.name %>
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render 'thumbnails' %>
          <div class="media-body">
            <ul class="list-inline">
              <li>
                <a href="<%= potepan_products_path %>"><i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る</a>
              </li>
              <!-- <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i>Share This</a></li> -->
            </ul>
            <%= render 'cart_form' %>
            <%= render 'properties' %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'related_products' %>
  </div>
</section>
