<div class="bannercontainer">
  <div class="fullscreenbanner-container">
    <div class="fullscreenbanner">
      <%= render 'full_screen_banner' %>
    </div>
  </div>
</div>

<section class="mainContent clearfix">
  <div class="container">
    <div class="row featuredCollection">
      <%= render 'featured_collection' %>
    </div>
    <div class="row featuredProducts">
      <%= render 'featured_products' %>
    </div>
    <div class="row latestArticles">
      <%= render 'latest_articles' %>
    </div>
  </div>
</section>
<%= render 'potepan/shared/quick_view_modal' %>
