<div class="panel-heading">色から探す</div>
<div class="panel-body">
  <ul class="list-unstyled">
  <% options.list_of_colors.each do |option| %>
    <li>
    <%= link_to potepan_products_path(color: option.name) do %>
      <%= option.name %><span>(<%= option.variants.count %>)</span>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>
