<div class="panel-heading">商品カテゴリー</div>
<div class="panel-body">
  <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
    <ul class="nav navbar-nav side-nav">
      <% object.children.each do |category| %>
        <% if category.leaf? %>
        <li>
          <%= link_to potepan_category_path(category.id) do %>
            <i class="fa fa-caret-right" aria-hidden="true"></i>
            <%= category.name %> <span>(<%= category.products.count %>)</span>
          <% end %>
        </li>
        <% else %>
        <li>
          <a href="javascript:;" data-toggle="collapse" data-target="#<%= category.name %>"><%= category.name %><i class="fa fa-plus"></i></a>
          <ul id="<%= category.name %>" class="collapse <%= 'in' if category.child_ids.include?(params[:id].to_i) %> collapseItem">
          <% category.children.each do |child_category| %>
            <li>
              <a href="<%= potepan_category_path(child_category.id) %>">
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                <%= child_category.name %> <span>(<%= child_category.products.count %>)</span>
              </a>
            </li>
          <% end %>
          </ul>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
