<div class="panel-heading">サイズから探す</div>
<div class="panel-body">
  <ul class="list-unstyled clearfix">
  <% options.list_of_size.each do |option| %>
    <li>
    <%= link_to potepan_products_path(size: option.presentation) do %>
      <%= option.name %><span>(<%= option.variants.count %>)</span>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>
